.banner{
  background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.1)), url('../../images/background.png');

  height: 500px;
}

.banner {
  display: flex;
  align-items: center;
}

.banner .container{
  padding:50px;
}

.banner h1{
  color: white;
}


.banner p{
  color:#e7e7de;
}

.btn-green{
  padding: 15px 40px;
  border-radius: 30px;
  background-color:#01c5c4;
  color:white;
  text-decoration: none;
  display: inline-block;
  margin:10px;
}

.container{
  margin:auto;
}
